---
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";

const { size = "large", cardimage = "", cardimagealt = "", cardtitle = "", cardtext = "", cardundertitle } = Astro.props;

// Billede
const imageSize = {
  large: "w-40 h-40 lg:w-60 lg:h-60",
  medium: "w-32 h-32",
  small: "w-24 h-24"
}[size];

// Card width
const cardWidth = {
  large: "w-80 lg:w-120",
  medium: "w-70",
  small: "w-60"
}[size];

// Tekstboks højde og spacing
const cardBox = {
  large: "-mt-10 pb-10 pt-10 lg:pt-30 px-5 lg:px-12 h-110 lg:h-130 lg:-mt-30",
  medium: "-mt-14 pt-16 pb-6 px-5 h-70",
  small: "-mt-12 pt-14 pb-4 px-4 h-60"
}[size];

// Tekststørrelser
const titleSize = {
  large: "text-2xl",
  medium: "text-base",
  small: "text-lg",
  xsmall: "lg:text-sm"
}[size];
---
<article class={`relative mx-auto ${cardWidth}`}>
    <!-- billede -->
    <div class={`${imageSize} overflow-hidden mx-auto relative z-10`}>
        <img src={cardimage} alt={cardimagealt} class="w-full h-full object-cover"/>
    </div>

    <!-- Info-kortet -->
   <div class={`${cardBox} bg-offwhite rounded-[32px] text-text flex flex-col justify-between`}>
    <Text teksttype="brødtekst" stylingclasses="text-text">{cardtext}</Text>

    <div>
      <Heading htmlheading="h3" size="small" stylingclasses={`pt-5 font-semibold ${titleSize}`}>{cardtitle}</Heading>
      <Heading htmlheading="h4" size="xsmall" stylingclasses={`pb-3 leading-4 lg:leading-5 ${titleSize}`}>{cardundertitle}</Heading>
    </div>
</div>

</article>
